// main: main.scss

.footer-style{
    background-color: #2e2e2e;
    color: #fff;

    
    width: 100%;
    height: 100px;


    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
    font-family: $textfont;

}

.footer-icons{
    width: 30px;
    height: 30px;
    padding: 6px;    
}