// main: main.scss


/*mobile first  320px--480px*/


/*is used to make flex sections and give the sections the right dimensions
*/
.section-style {
    width: 100%;
    height: 1500px;
    
    display: flex;

    
    background-color: $deep-space-sparkle;
}
/*These ids are used to move the items around them and to give the sections their particular shape and background color*/
#top{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    
    
    
    background-color: $deep-space-sparkle;
    

    
    
    .personal-photo{
     
      
        
        animation: shimmy 3s infinite;
        animation-direction: alternate;
        img{
            width: 300px;
            background-image: linear-gradient(to right, #7a9e9f, #89acad, #99bbbb, #a8c9c9, #b8d8d8);
            box-shadow: #1a1a1d 4px 4px 5px 0;

            border-top-right-radius:90px; 
            border-top-left-radius: 90px;
            border-bottom-right-radius:90px; 
            border-bottom-left-radius: 90px;
            
        }
    }
       
}
@keyframes shimmy {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(0px, 50px);
    }
  }


#About{
    
    

   
    
    flex-direction: column;
    
    justify-content: space-between;
    align-content: center;
    

    


    background-color: $cadet-blue;


}


#Skills{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;

    background-color: $deep-space-sparkle;
}


#Works{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-content: center;

    
    background-color: $cadet-blue;
    
/*---------------------------------------------------------------------------------------------------------------*/
    img{
        width: 200px;
    }
}



.typewriter {
    color: #fff;
    font-family: $textfont;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s step-end infinite;
      
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

/*this class defines the titles of the various sections*/


.style-title{
    color: $beige;
    font-family: $titlefont;

    
    padding: 10px;

    font-size: 3rem;
    
    margin: 0 auto;

    

    width: fit-content;
    height: fit-content;
    
    
    border-bottom: #1a1a1d 2px solid;

    text-shadow: 2px 1px 2px #1a1a1d;
   
   
   
}

.style-title:hover{
    width: 60%;
    text-align: center;
    border-radius: 35px;
    background-color: $orange-red-crayola;
    transition: 500ms;
    transform: scale(1.50)
    
}








/*this class is able to defins the about me text container*/
.about-me-container{
    width: 50%;
    

    display: flex;
    
    align-self: center;

    
    
    
   margin-bottom: 200px
    
}
.about-me-container:hover{
    transition: 1s;
    border-radius: 10px;
    box-shadow: #1a1a1d 3px 3px 5px 0;
    background-color: $deep-space-sparkle;
    transform: scale(1.10);
}




/*this class difines the text in the section "ABOUT ME"*/
.about-me-text{
    color:$beige;
    font-family: $textfont;
    
    line-height: 1.7em;

    
}

/*this class defines the text in the section "TOP" and the text in the section "MY WORKS"*/
.presentation-text{
    color:$beige;
    font-family: $textfont;
    font-size: 2em;  


    width: 300px;
    height: fit-content;
    


    text-shadow:#1a1a1d 5px 5px 5px ;
    text-align: center;
    margin: 0 auto;

    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    
    span{
        background-color: $orange-red-crayola;
    }

}
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }
  



/*defines the icon in the section "MY SKILLS"*/
.icon-container{
   
    height: 90%;
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   
}
.animation-icon:hover{
    border-bottom: #1a1a1d 1px solid;

    
    transform: rotate(360deg);
    transition: 1000ms;
}

/*defines the text in the section "MY WORKS"*/
.work-text-container{
    

    
    text-shadow: #1a1a1d 5px 5px 5px ;
}

/*this class is able to move the form*/
.center-form{
   

    font-family: $textfont;
}