// main: main.scss 

/*color variables*/
$primarycolor: #1a1a1d;
$tertiarycolor: #6f2232;






$powder-blue: #b8d8d8ff; 
$cadet-blue: #7a9e9fff;
 $deep-space-sparkle: #4f6367ff;
  $beige: #eef5dbff; 
  $orange-red-crayola: #fe5f55ff;





/*font variables*/
$titlefont: 'quicksand';
$textfont: 'source sans pro';
